body {
  font-family: sans-serif;
  text-align: center;
  background-color:#CFD8DC;
  
}

.contenido {
  display: inline-block;
  text-align: start;
}

head{
  background-color:#455A64;
  color: #FFFFFF;
}

meter,
input[type=range],
output {
  display: block;
}

mi-footer {
  display: block;
  margin: 1rem 0;
  font-size: small;
}
